
.main
{
    width: 95%;
    margin: auto;
}
/* ============ nav =========== */

nav
{
    display: flex;
    align-items: center;
    border-bottom: 4px solid #FCE021;
    padding: 15px;
}

/* ============ logo =========== */
.n-logo
{
    height: fit-content;
}
.n-logo-wrp
{
    display: flex;
    align-items: center;
}
.n-logo-wrp img
{
    width: 50px;
    height: 50px;
    transform: rotate(12deg);
}
.n-logo-wrp:hover img
{
    animation: animate-logo 3s linear infinite;
}
@keyframes animate-logo
{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.n-logo-wrp span
{
    font-size: 2.6rem;
    font-family: 'Ubuntu';
    font-weight: 900;
    font-style: italic;
    color: #332d21;
}
/* ============ list =========== */
.n-list {
    height: fit-content;
    width: 100%;
}
.n-list ul {
    list-style: none;
    display: flex;
}
.n-list ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 40px;
    width: 120px;
    position: relative;
    overflow: hidden;
    margin: 0 5px;
}
.n-list ul li a {
    font-family: 'Titillium Web';
    text-decoration: none;
    font-size: 20px;
    color: #332d21;
}

.n-list ul li::after
{
    content: "";
    width: 0;
    height: 100%;
    background-color: #FCE021;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.n-list ul li:hover:after {
    width: 100%;
    animation: li-animation .3s linear;
}
@keyframes li-animation
{
    0% {width: 0;}
    100% {width: 100%;}
}
.n-list ul li:hover  a
{
    transition-delay: .25s;
    z-index: 2;
    color: #fff;
}
/* ============ search bar =========== */
.n-search-bar {
    height: 40px; 
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
}
.n-search {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    border: 2px solid #eeeeee;
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    height: fit-content;
}
.n-search input
{
    border: none;
    outline: none;
    padding-left: 10px;
    height: 40px;
    font-size: 20px;
    color: #332d21;
    transition: width .5s linear;
    width: 100px;
}
.n-search button
{
    background: none;
    border: none;
    font-size: 20px;
    color: #332d21;
    cursor: pointer;
    padding: 0 10px;
}

.sideList {
    display: none;
    cursor: pointer;
}
.sideList i {
    font-size: 25px;
    color: #332d21;
    border-radius: 6px;
    padding: 10px 15px;
    border: 2px solid #eeeeee;

}
.side-list-wrapper {
    display: none; 
    height: 0px; 
    overflow: hidden;
    transition: height .7s linear;
    background: #fff; 
}