@media only screen and (max-width: 1000px) {
    nav {
        justify-content: space-between;
    }

    .n-list,
    .n-search-bar {
        display: none;
    }

    .sideList {
        display: block;
    }

    .side-list-wrapper {
        display: flex;
        height: 0px;
        flex-direction: column;
        align-items: center;
    }

    .side-list-wrapper .n-list {
        display: flex;
        position: relative;

    }

    .side-list-wrapper .n-list ul {
        flex-direction: column;
        width: 100%;
        align-items: center;
        position: relative;
    }

    .side-list-wrapper .n-list ul li {
        flex-direction: column;
        width: 300px;
        margin-top: 10px;
        position: relative;
    }

    .side-list-wrapper .n-list ul li:hover:after {
        width: 100%;
        animation: li-animation .3s linear;
    }

    /* ============================= */
    .side-list-wrapper .n-search-bar {
        position: relative;
        display: flex;
        margin-top: 20px;
        width: 100%;
        justify-content: center;
        height: fit-content;
    }

    .n-search {
        position: relative;
        top: auto;
        left: auto;
        border-radius: 0;
        border: none;
        border-bottom: 3px solid #FCE021;
        display: flex;
        width: 100%;
    }

    .n-search input {
        width: 100%;
    }

    header {
        height: 70vh;
    }

    header .top {
        padding-top: 0;
        display: flex;
        align-items: center;
    }

    header .top h1 {
        font-size: 2.6rem;
        margin-bottom: 20px;
    }

    .top-content {
        padding: 30px 0;
        width: 100%;
        padding-left: 50px;
        background-color: rgba(255, 255, 255, 0.507);
    }
    .section2 
    {
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .section2 .container
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.768);
    }

}

@media only screen and (max-width: 1150px)
{
    .section2 .container
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.768);
        padding: 40px 0;
    } 
}




@media only screen and (max-width: 500px) {
    * {
        margin: 0;
        padding: 0;
    }

    header,
    .main {
        width: 100%;
    }

    header {
        height: 65vh;
    }

    header .top {
        background-size: 60% 60%;
    }

    .top-content {
        padding: 30px 0;
        width: 100%;
        padding-left: 10px;
        background-color: rgba(255, 255, 255, 0.507);
    }

    .top-content h1 {
        text-align: center;
    }

    .top-content h1 .space {
        padding-left: 0;
    }

    .top-content p {
        text-align: center;
        color: #333;
        font-size: 16px;
    }
    header .top .btn  {
        text-align: center;
    }
    .section2 {
        width: 100%;
        height: 100vh;
        background-image: url();
        display: flex;
    }
}